.border {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid;
    border-top-color: rgb(166, 71, 255);
    border-right-color: rgb(0, 182, 173);
    border-bottom-color: rgb(0, 128, 255);
    border-left-color: rgb(255, 0, 106);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spinner 5s infinite linear;
}

@keyframes spinner {
    0%,
    100% {
    transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 48.4%;
    top: 47%;
}